/* --- utility classes --- */

.gt-noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gt-noshow {
  visibility: hidden;
  display: none;
}

/* --- toolbar --- */

$toolbar-height: 36px;
$toolbar-button-height: 26px;
$toolbar-background-color: #F2F2F2;
$toolbar-border-color: #BDBDBD;

.gt-toolbar {
  width: 100%;
  padding-left: 28px;
  box-sizing: border-box;

  height: $toolbar-height;
  border-top: 1px solid $toolbar-border-color;
  border-bottom: 1px solid $toolbar-border-color;
  background-color: $toolbar-background-color;
  overflow: hidden;
  z-index: 5;
}

.gt-button {
  float:left;
  min-width: 26px;
  height: $toolbar-button-height;
  margin-top: ($toolbar-height - $toolbar-button-height)/2 - 2;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 1px 1px;
  border-radius: 2px;
  outline: none;
  border: 1px solid transparent;
  color: #585858;
  font-weight: 400;
  line-height: 26px;

  &:hover {
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 1px #dadada;
    cursor: default;
  }

  &:active {
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 2px #b7b7b7 inset;
    background-color: #e8e8e8;
    border: 1px solid #cecece;
  }
}

.gt-button-active {
  border: 1px solid #CCCCCC;
  box-shadow: 1px 1px 2px #b1b1b1 inset;
  background-color: #e9e7e7;
  border: 1px solid #CCCCCC;

  &:hover {
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 2px #b1b1b1 inset;
  }

  &:active {
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 2px #b1b1b1 inset;
  }
}

.gt-title {
  padding-left: 5px;
}

.gt-separator {
  float: left;
  border-left: 1px solid $toolbar-border-color;
  width: 8px;
  margin-left: 8px;
  height: $toolbar-height;
}

.gt-dropdown {
  width: 38px;
}

.gt-input {
  width: 48px;
  padding-left: 4px;
}

.gt-input > input {
  width: 36px;
  height: $toolbar-button-height - 3;
  font-size: 14px;
  color: #585858;
}

.gt-arrow {
  float: right;
  margin-top: 11px;
  margin-right: 3px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #909090;
}

.gt-text-input {
  float: left;
  width: 28px;
  height: 18px;
  font-size: 13px;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  margin-top: 1px;

  &:focus {
    background-color: white;
    border: 1px solid #0096FD;
  }
}

/* --- submenus --- */

.gt-submenu {
  position: absolute;
  background-color: white;
  min-width: 100px;
  top: -100px;
  left: -100px;
  z-index: 5;
  border: 1px solid #b6b5b5;
  color: #5D5D5D;
  box-shadow: 1px 1px 2px #bebebe;
  max-height: 300px;
  overflow: hidden;
}

.gt-scrolling {
  overflow-y: scroll;

  // Always show scrollbar
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    &:vertical {
      width: 11px;
    }
    &:horizontal {
      height: 11px;
    }
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #FAFAFA;
    background-color: rgba(0, 0, 0, .5);
  }
  &::-webkit-scrollbar-track {
    background-color: #FAFAFA;
    border-radius: 8px;
  }
}

.gt-submenu-item {
  width: 100%;
  height: 30px;
  border: 0px;
  margin-right: 30px;
  padding-left: 11px;
  font-size: 15px;
  line-height: 30px;
  border-bottom: 0px solid #979797;
  &:hover {
    background-color: #EAEAEA;
    cursor: pointer;
  }
}

.gt-submenu-icon {
  width: 15px;
  height: 15px;
  padding-right: 5px;
  padding-bottom: 3px;
}
